language: php
cache:
  directories:
  - vendor
php:
  - 5.6
  - 5.5
  - 5.4
  - hhvm-nightly
  
before_script:
  - alias composer="php -d zend.enable_gc=0 /usr/bin/composer"
  - composer require --dev satooshi/php-coveralls:dev-master
  - composer install
  
after_script:
  - php bin/coveralls -v

script: 
  - bin/phpunit --coverage-text
  - bin/phpunit-randomizer --order rand --repeat 10

matrix:
     allow_failures:
         - php: hhvm-nightly  
