language: php
php:
  - "5.6"
  - "7.0"
  - "7.1"
  - "7.2"
  - "7.3"
  - "7.4"
  
before_script:
  - composer install

script: 
  - bin/phpunit --coverage-text

matrix:
     allow_failures:
         - php: "hhvm"
branches:
  only:
    - master
 
